body	{
	text-align: center;
	background-image: url('../images/gs002.JPG');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #1A1921;
	color: #7AC3C7;
	font-family: 'Economica', sans-serif;
}

/*unvisited link*/
a:link {
	color: #B794C5;
	text-decoration: none;

}

/*visited link*/
a:visited {

	color: #51785C;
}

/*mouse over link*/
a:hover {

	color: #C56F7F;
}

/*selected link*/
a:active {
	color: blue;
}

ul {
	list-style-type: none;
}

img {
	background-repeat: no-repeat;
}

#logo	{
	color: #7AC3C7;
	font-size: 50px;
	font-weight: 300;
	background-color: #353444;
	font-family: 'Permanent Marker', cursive;
	margin-top: 0;
	margin-bottom: 0;

}

#nav-bar {
	background-color: #353444;
	font-weight: 100;
}

#nav-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
}

#nav-bar ul li {
	display: inline;
	padding: 0;
	margin: 30px;
	line-height: 50px;
}

.bottom-nav-wrapper {
	padding-top: 100px;
	background: #353444;
	width: 100%;
	display: block;
	float: left;
} 

.bottom-nav-links {
	text-align: left;
	font-size: 15px;
	background-color: #353444;
	margin: 0 0 0 0;
	float: left;
}

.contact-nav-links {
	text-align: left;
	font-size: 18px;
	background-color: #353444;
	margin: 0 0 0 0;
	float: left;	

}


#slogan {
	font-style: italic;
	font-size: 20px;
}

#space {
	width: center; padding: center;
	padding-top: 600px;
	font-size: 20px;
} 


