* {

	padding: 0;
	margin: 0;
}
body	{
	text-align: center;
	/*background-image: url('../images/gs002.JPG');*/
	background-color: #1A1921;
	color: #7AC3C7;
	font-family: 'Economica', sans-serif;
	font-size: 16px;
}

/*unvisited link*/
a:link {
	color: #7AC3C7;
	text-decoration: none;

}

/*visited link*/
a:visited {

	color: #51785C;
}

/*mouse over link*/
a:hover {

	color: #C8FFFF;
}

/*selected link*/
a:active {
	color: blue;
}

ul {
	list-style-type: none;
}

img {
	width: 96%;
}
/* declaration specific to week 5 - remove when done w week 5*/
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

div {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

/*the above was where week 5 declaration ended, remove above after week 5*/


#logo h1 {
	color: #7AC3C7;
	font-size: 3em;
	font-weight: 300;
	background-color: #353444;
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	padding-left: 180px;

}

#nav-bar-right ul li {
	text-align: right;
	float: right;
	display:inline;
	font-size: 15px;
	background-color: #353444;
	padding: 5px;

}

.nav-bar {
	background-color: #353444;
	font-weight: 100;
	padding: 0;
	margin: 0;
}

.nav-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
}

.nav-bar ul li {
	display: inline;
	padding: 0;
	margin: 25px;
	line-height: 50px;
	text-align: center;
	float: center;
}

#round {
	width: 24%;
	float: left;
	border-style: solid;
	border-width: 0.3em;
	padding-top: 3em;
}

#square {
	width: 24%;
	float: left;
	border-style: solid;
	border-width: 0.3em;
	padding-top: 3em;
	
}

#classic {
	width: 24%;
	float: left;
	border-style: solid;
	border-width: 0.3em;
	padding-top: 3em;
}

#sale {
	width: 24%;
	float: left;
	border-style: solid;
	border-width: 0.3em;
	padding-top: 3em;
}

footer {
	background-color: #FFE2B8; /*this was for week 5 remove when over*/
	border: 1px black solid; /*this was for week 5 remove when over*/
	padding: 20px; /*this was for week 5 remove when over*/

	/*background: #353444; add this color back in when week 5 is over*/
	display: block;
	width: 100%;
	float: left;
	text-align: left;
} 

.bottom-nav-links {
	text-align: left;
	font-size: 15px;
	background-color: #353444;
	padding: 10px;
	float: left;
}

.contact-nav-links {
	text-align: left;
	font-size: 18px;
	background-color: #353444;
	padding: 10px;
	float: left;
	padding-bottom: 0;	
}
#slogan {
	font-style: italic;
	font-size: 20px;
	float: center;
	text-align: center;
}

#space p { 
	float: center;
	padding-top: 100px;
	font-size: 20px;
}

/*About me container*/
.aboutmecontainer {
	background-image: url("../images/gsimage001.JPG");
	background-size: cover;
	padding-bottom: 50%;
}

.aboutmeh { 
	font-size: 3em;
	padding: 0.35em;
	float: left;
	text-align: left;
	width: 25em;
	font-family: 'Economica', sans-serif;
	
}

.aboutmep {
	font-size: 1.2em;
	padding: 1em;
	text-align: left;
	margin: 0 auto;
	float: left;
	text-align: left;
	width: 25em;
	font-family: 'Economica', sans-serif;
}


/*FAQs section*/
.questions {
	text-align: left;
	float: left;
	padding: 1.5em;
	width: 30em;
	line-height: 1.5em;
}

.questions h1 {
	font-size: 4em;
	padding: 0.5em 0;
}

.questions h2 {
	font-size: 3em;
	padding: 0.2em 0;
	line-height: 1.5em
}

.questions h4 {

	font-size: 2em;
	padding: 0.5em 0;
}

.questions p {
	font-size: 1em;
	line-height: 1.5em;
}

#faqsimage img {
	width: 50%;
	height: 100%;
	float: right;
} 

