body	{
	text-align: center;
	/*background-image: url('../images/gs002.JPG');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #1A1921;
	color: #7AC3C7;
	font-family: 'Economica', sans-serif;
}

a {
	color: #8F91B6;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

#logo	{
	color: #7AC3C7;
	font-size: 50px;
	font-weight: 300;
	background-color: #353444;
}

#nav-bar {
	background-color: #353444;
	font-weight: 100;
}
#nav-bar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 30px;
}

#nav-bar ul li {
	display: inline;
	margin: 30px;
}

#bottom-nav ul {
	margin: 0;
	text-align: left;
	float: left;
	font-size: 15px;
}

.contact-nav {
	margin: 0;
	text-align: right;
	float: left;
	font-size: 20px;
}


#slogan {
	font-style: italic;
	font-size: 20px;
}

/*#space {
	width: center; padding: center;
	padding-top: 400px;
	font-size: 20px;
} */


